.h4{
    padding: 5px;
    background-color:radial-gradient(at 50% 50%, hsla(210, 100%, 16%, 0.5), hsl(220, 30%, 5%));
    width: 100%;
    border: none;
    padding-left: 100px;
    padding-right: 120px;
    margin: 0%;
}
.title{
    text-align: center;
    color: #2165ab;
    font: sans-serif;
    font-size: 50px;
    font-family: Poppins sans-serif;
    font-weight: bold;
    border: none;
    margin: 0;
}
.menu{
    float: right;
    text-align: center;
    color: rgb(1, 5, 8);
    font: sans-serif;
    font-size: 18px;
    border: none;
    margin-right: 5px;
    padding: 9px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',sans-serif;
    margin-top: 10px;
    cursor: pointer;
    background-color: hwb(210 84% 4% / 0.993);
    border-radius: 30px;

}
.menu1{
    float: right;
    text-align: center;
    color: rgb(1, 5, 8);
    font: sans-serif;
    font-size: 18px;
    border: none;
    margin-top: 10px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',sans-serif;
    margin-right: 11px;
    padding: 9px;
    cursor: pointer;
    background-color:  hwb(210 84% 4% / 0.993);
    border-radius: 30px;

}
.menu2{
    float: right;
    text-align: center;
    color: rgb(2, 24, 41);
    font: sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: none;
    margin-top: 10px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',sans-serif;
    margin-right: 11px;
    padding: 9px;
    cursor: pointer;
    border-radius: 30px;

}
.menu1:hover{
background-color: #626464;
color: #f4faff;
}
.menu:hover{
    background-color: #626464;
    color: #f4faff;
    }

    
.menu2:hover{
    color: hsl(207, 92%, 58%);
    }
    #hd{
        background-color: radial-gradient(at 50% 50%, hsla(210, 100%, 16%, 0.5), hsl(220, 30%, 5%));
    }